@model List<Dish>

<h2><a href="/">Chefs</a> | Dishes</h2>
<p><a href="/dishes/new">Add a Dish</a></p>

<h1>Take a look at our tasty dishes!</h1>

    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
            </tr>
        </thead>
        <tbody>

@foreach (Dish dish in Model)
{

        <tr>
            <td>@dish.DishName</td>
            <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
            <td>@dish.Tastiness</td>
            <td>@dish.Calories</td>
        </tr>
    
    
}
    </tbody>
</table>